<!doctype html>
<html ng-app="forumClient" ng-controller="mainCtrl" xmlns:ng-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

    <link href="f.css" rel="stylesheet">
    <script src="f.js"></script>
</head>
<body >



<div class="container-fluid" ng-controller="mainCtrl">



    <div class="row" style="padding-top: 10px;">

        <!--.........................-->
        <!--SIDEBAR-->
        <!--.........................-->

        <div class="col-md-2">
            <div class="panel panel-primary">
                <h3 class="panel-heading panel-title">  Actions </h3>
                <div class="panel-body">
                </div>
            </div>
        </div>

        <!--.........................-->
        <!--LEFT CHANNEL-->
        <!--.........................-->

        <div class="col-md-5">
            <div class="panel panel-primary">
                <h3 class="panel-heading panel-title">  Wątek: {{M.L.name}}
                    <div style="float: right">
                    <em class="glyphicon glyphicon-edit" ng-click="M.edLeft=!M.edLeft"> </em>
                    <em class="glyphicon glyphicon-refresh" ng-click="loadPosts(M.L)"> </em>
                    </div>
                </h3>

                <div class="panel-body">
                    <div class="boxed" ng-if="M.edLeft">
                        <h3>Wybierz/stwórz wątek
                            <button class="btn btn-info" style="float:right;"
                                    ng-click="newChannel(M.L)">Utwórz</button>
                        </h3><br/>
                        <input class="form-control" type="text"
                               ng-model="M.L.name" placeholder="Nazwa wątku"
                               ng-keyup="$event.keyCode==13 && (M.edLeft=!M.edLeft)"><br/>
                        <input class="form-control" type="password" ng-model="M.L.pass" placeholder="Hasło"><br/>

                    </div>


                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                        <tr class="clickable" ng-class="'info'">
                            <td style="width: 40px"> Id</td>
                            <td> Tekst  </td>
                            <td style="width: 30px"> </td>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="p in M.L.posts | filter: M.L.filtr" ng-if="$index>(M.L.posts.length-20)">
                            <td style="width: 20px;"> {{ p.postid }} </td>
                            <td> {{p.content}} </td>
                            <td> <em class="glyphicon glyphicon-trash" ng-click="delPost(M.L, p)">
                            </em> </td>
                        </tr>
                        </tbody>
                    </table>

                    <input class="form-control" placeholder="Tekst..."
                           ng-model="M.L.text"
                           ng-keyup="$event.keyCode==13 && submitPost(M.L, M.L.text)"
                    >

                </div>

            </div>
        </div>

        <!--.........................-->
        <!--RIGHT CHANNEL-->
        <!--.........................-->
        <div class="col-md-5">
            <div class="panel panel-primary">
                <h3 class="panel-heading panel-title">  Wątek:  </h3>
                <div class="panel-body">
                    <button class="btn btn-default" ng-click="loadChannels()">Załaduj wątki (debug)</button>
                    <div class="boxed">
                        L: {{ M.L}} <hr/>
                        channels: {{ M.channels }} <hr/>
                    </div>
                </div>
                <div class="panel-footer">
                    Powered by
                    <em class="glyphicon glyphicon-chevron-up">
                    </em>
                </div>

            </div>


        </div>

    </div>
</div>
</body>
</html>